In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
from sklearn.preprocessing import LabelEncoder
from sklearn import tree
import warnings
warnings.filterwarnings('ignore')

In [2]:
df=pd.read_csv('iris.csv')

In [3]:
df.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

In [4]:
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [5]:
df.tail()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  150 non-null    float64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB

In [7]:
df.shape

(150, 6)

In [8]:
df=df.drop('Id',axis='columns')

In [9]:
df.shape

(150, 5)

In [10]:
target=df['Species']

In [11]:
df['Species']

0         Iris-setosa
1         Iris-setosa
2         Iris-setosa
3         Iris-setosa
4         Iris-setosa
            ...
145    Iris-virginica
146    Iris-virginica
147    Iris-virginica
148    Iris-virginica
149    Iris-virginica
Name: Species, Length: 150, dtype: object

In [12]:
df.describe()

       SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count     150.000000    150.000000     150.000000    150.000000
mean        5.843333      3.054000       3.758667      1.198667
std         0.828066      0.433594       1.764420      0.763161
min         4.300000      2.000000       1.000000      0.100000
25%         5.100000      2.800000       1.600000      0.300000
50%         5.800000      3.000000       4.350000      1.300000
75%         6.400000      3.300000       5.100000      1.800000
max         7.900000      4.400000       6.900000      2.500000

In [13]:
le_SepalLengthCm=LabelEncoder()
le_SepalWidthCm=LabelEncoder()
le_PetalLengthCm=LabelEncoder()
le_PetalWidthCm=LabelEncoder()

In [14]:
df['SepalLengthCm_n']=le_SepalLengthCm.fit_transform(df['SepalLengthCm'])
df['SepalWidthCm_n']=le_SepalLengthCm.fit_transform(df['SepalWidthCm'])
df['PetalLengthCm_n']=le_SepalLengthCm.fit_transform(df['PetalLengthCm'])
df['PetalWidthCm_n']=le_SepalLengthCm.fit_transform(df['PetalWidthCm'])

In [15]:
df

,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species,SepalLengthCm_n,SepalWidthCm_n,PetalLengthCm_n,PetalWidthCm_n
0,5.1,3.5,1.4,0.2,Iris-setosa,8,14,4,1
1,4.9,3.0,1.4,0.2,Iris-setosa,6,9,4,1
2,4.7,3.2,1.3,0.2,Iris-setosa,4,11,3,1
3,4.6,3.1,1.5,0.2,Iris-setosa,3,10,5,1
4,5.0,3.6,1.4,0.2,Iris-setosa,7,15,4,1
...,...,...,...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,Iris-virginica,24,9,28,19
146,6.3,2.5,5.0,1.9,Iris-virginica,20,4,26,15
147,6.5,3.0,5.2,2.0,Iris-virginica,22,9,28,16
148,6.2,3.4,5.4,2.3,Iris-virginica,19,13,30,19
149,5.9,3.0,5.1,1.8,Iris-virginica,16,9,27,14

In [16]:
df=df.drop(['SepalLengthCm','SepalWidthCm','PetalLengthCm','PetalWidthCm','Species'],axis='columns')

In [17]:
df

     SepalLengthCm_n  SepalWidthCm_n  PetalLengthCm_n  PetalWidthCm_n
0                  8              14                4               1
1                  6               9                4               1
2                  4              11                3               1
3                  3              10                5               1
4                  7              15                4               1
..               ...             ...              ...             ...
145               24               9               28              19
146               20               4               26              15
147               22               9               28              16
148               19              13               30              19
149               16               9               27              14

[150 rows x 4 columns]

In [18]:
model=tree.DecisionTreeClassifier()

In [19]:
model.fit(df,target)

DecisionTreeClassifier()

In [20]:
model.score(df,target)

1.0

In [21]:
model.predict(([[0,1,2,3]]))

array(['Iris-setosa'], dtype=object)